/* --------------- GENERAL ---------------- */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    height: 100%;

    background: rgb(28, 36, 47) radial-gradient(ellipse at bottom, #25313f 10%, #12141e 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(240, 240, 240);

    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

a {
    color: rgb(141, 202, 224);

    font-weight: normal;
    text-decoration: none;

    transition: color .2s;
}

a:hover {
    color: rgb(206, 243, 255);
}

/* --------------- INFO PANEL ---------------- */

#info-panel {
    position: fixed;
    transition: top 0.5s ease-out;
    top: calc(-100% + 40px);
    height: 100%;
    width: 365px;

    font-size: 94%;

    overflow: hidden;
}

@media (max-width: 768px) {
    #info-panel {
        width: 100%;
    }
}

#info {
    position: absolute;
    z-index: 1;

    display: block;
    width: calc(100% - 30px);
    height: calc(100% - 56px);
    padding: 0 15px 15px 15px;

    background: rgba(23, 30, 39, 0.90);
    color: rgb(240, 240, 240);

    overflow: auto;
}

#info::-webkit-scrollbar {
    left: 20px;
    width: 7px;
}

#info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

#info::-webkit-scrollbar-thumb {
    background: rgba(101, 144, 171, 0.5);
    border-radius: 2px;
}

#info h1 {
    font-size: 1.72em;
}

#info ul {
    padding: 0;
    list-style: none;
}

#info li {
    margin: 0.5em 0 0.5em 0;
}

#info > p {
    font-style: italic;
    text-align: justify;
}

/* --------------- INFO PANEL BUTTON ---------------- */

#toggle {
    display: none;
    visibility: hidden;
}

#toggle ~ label {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 40px;

    background: rgb(21, 27, 35);
    color: rgb(233, 235, 244);

    text-align: center;
    line-height: 40px;
    font-size: 1em;

    transition: background 0.2s, color 0.2s;
}

#toggle:checked ~ label {
    background: rgb(37, 49, 63);
    color: rgb(81, 118, 141);
}

#toggle ~ label:after {
    content: 'Show information';
}

#toggle ~ label:before {
    position: relative;
    right: 7px;
    bottom: -3px;

    font-weight: bold;
    content: '\FE40';
}

#toggle:checked ~ label:after {
    content: 'Hide information';
}

#toggle:checked ~ label:before {
    bottom: 2px;
    content: '\FE3F';
}

#toggle ~ label:hover {
    background: rgb(37, 49, 63);
    color: rgb(244, 246, 255);
}

#toggle:checked ~ label:hover {
    background: rgb(42, 56, 72);
    color: rgb(133, 160, 177);
}

/* --------------- LOADING SCREEN ------------------ */

#loading-screen {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;

    visibility: visible;

    background: rgb(28, 36, 47);
    opacity: 1;

    text-align: center;

    -webkit-transition: opacity 500ms, visibility 500ms;
    transition: opacity 500ms, visibility 500ms;
}

#loading-screen .support {
    position: absolute;
    bottom: 0;

    width: calc(100% - 20px);
    padding: 10px;

    color: rgb(106, 135, 155);

    text-align: center;
}

.support p {
    margin: 5px;
}

#loading-screen strong {
    color: rgb(124, 158, 181);
}

.spinner {
    position: relative;
    top: 50%;
}

#loading-screen > p {
    position: absolute;
    top: calc(50% - 30px);
    width: 100%;

    margin: 0 auto 0 auto;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
    text-indent: 6px;
    white-space: nowrap;
}

.spinner > div {
    display: inline-block;
    width: 15px;
    height: 15px;

    background: rgb(240, 240, 240);
    border-radius: 100%;

    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.8s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(0.5)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(-0.5);
        transform: scale(-0.5);
    }
    40% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

/* --------------- GUI------------------ */

.dg ul li {
    font-size: 12px;

}

.close-button {
    font-size: 12px;
    padding: 5px;
}

/* --------------- LICENSE ------------------ */
#license {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}